@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");

.logo {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  color: #148aff;
  text-align: center;
}

.logo > span {
  color: #ffda23;
}
